<link rel="stylesheet" href="css/header.css">

<div class="navbar">
    <a href="/">Home</a>
    <% if (locals.user) { %>
        <a href="/users/profile"><%= user.name%></a>
        <a href="/users/sign-out">Sign Out</a>
    <% } else { %>
        <a href="/users/sign-up">Sign Up</a>
        <a href="/users/sign-in">Sign In</a> 
    <% } %>
</div>