<link rel="stylesheet" href="/css/home.css">

<h1>Home | <%= title%></h1>


<section id="feed-posts">
    <h4>
        Posts
    </h4>
    <% if (locals.user) { %>
    <form action="/create-post" id="new-post-form" method="post">
        <textarea name="content" id="content" cols="30" rows="10" placeholder="Type here..." required></textarea>
        <input type="submit" value="post">
    </form>
    <%}%>

    <div id="posts-list-container">
        <ul>
            <% for (post of posts) {%>
                <%- include('_posts') -%>
            <%}%>
        </ul>

    </div>
</section>

<section id="user-friends">
    <h4>Friends</h4>
    <% for (user of all_users) {%>
       <a href="/users/profile/<%= user.id %>"><%= user.name %></a>
    <%}%>
</section>
