<link rel="stylesheet" href="/css/signin.css">


<h1><%= title%></h1>
<form action="/users/create-session" method="post">
    <label for="email">Enter Your Email: </label>
    <input type="email" name="email" id="email" required>
    <label for="password">Enter Your Password: </label>
    <input type="password" name="password" id="password" required>
    <button type="submit">Sign in</button>
</form>